@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    height: 100vh;
    width: 100vw;
}

.image {
    background-image: url(blackjack-table.png);
    background-position: top;
    background-size: cover;
    width: 80vw;
    height: 80vh;
    margin-top: -4vh;
    margin-left: 10vw;
    position: absolute;
}

h1 {
    font-family: 'Aoboshi One', serif;  
    font-size: 6vmin;
    text-align: center;
}

h2 {
    font-size: 2.5vmin;
}

.player-dealer{
    text-align: center;
    margin-top: 7vh;
}

.player-dealer > h2 {
    margin-bottom: 1vh;
}

#dealer-hand{
    margin-bottom: 38vh;
}

.action-pane {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    margin: 70vh 1vw auto 1vw;
    font-size: 2.5vmin;
}

.betting {
    display: flex;
    flex-direction: column;
    width: 25vw;
    border: 0.25vh solid black;
    border-radius: 35px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 0.25vh solid black;
}

.inventory {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

input {
    width: 8.5vw;
    font-family: 'Noto Sans Vithkuqi', 'sans-serif';
}

button {
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    border-radius: 50%;
    padding: 1vmin;
    font-size: 2vmin;
    cursor: pointer;
}

#hit {
    background: radial-gradient(circle, #105b2b, #013214);
}

#deal {
    background: radial-gradient(circle, #9b393f, #86242a);
}

.player-action{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 25vw;
}

.winnings {
    width: 25vw;
    text-align: center;
}

.winnings-sub {
    border: 0.25vh solid black;
    border-radius: 35px;
    width: 10vw;
    margin: auto;
}

.win-heading {
    border-bottom: 0.25vh solid black;
}

#win-message {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0vh;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: 'Aoboshi One', serif;
    font-size: 5vmin;
    text-align: center;
    padding: 46vmin;
    display: none;
}